@page
@model CatBreedCatalog.Pages.BreedDetailsModel
@{
	ViewData["Title"] = "Breed Details page";
}

<div class="container mt-5">
	<div class="card mb-3" id="detailsCard" style="position: relative;">
	<div class="row">
			<div class="col-md-4">
				<img src="~/photos/Ragdoll.jpg" class="card-img-details img-fluid" style="object-fit: contain; height: 100%;" alt="Breed Image">
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title">Breed Name</h5>
					<p class="card-text"><strong>Description:</strong> Description of the breed</p>
					<p class="card-text"><strong>Origin:</strong> Origin of the breed</p>
					<p class="card-text"><strong>Temperament:</strong> Temperament</p>
					<a href="EditBreed" class="btn btn-outline-dark" id="buttonEdit">Edit</a>
				</div>
				</div>
			
		</div>
	</div>
</div>
</div>