@page
@model CatBreedCatalog.Pages.CreateModel
@{
	ViewData["Title"] = "Create New Cat Breed";
}

<h2 class="title-create fs-2 fw-bold">Create New Cat Breed</h2>

<div class="container-create mt-3">
    <div class="row">
        <div class="col-md-6">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="breedName">Breed Name</label>
                    <input type="text" class="form-control" id="breedName" name="CatBreed.Name" placeholder="Enter breed name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea class="form-control" id="description" name="CatBreed.Description" placeholder="Describe the breed"></textarea>
                </div>
                <div class="form-group">
                    <label for="origin">Origin</label>
                    <input type="text" class="form-control" id="origin" name="CatBreed.Origin" placeholder="Enter breed origin">
                </div>
                <div class="form-group">
                    <label for="temperament">Temperament</label>
                    <input type="text" class="form-control" id="temperament" name="CatBreed.Temperament" placeholder="Describe the temperament">
                </div>
                <div class="form-group">
                    <label for="image">Breed Image</label>
                    <input type="file" class="form-control-file" id="image" name="image" accept="image/jpeg">
                </div>
                <div class="col-md-6">
                    <img id="preview-image" src="~/photos/2024-05-30 20_06_27-Search results for Photo - Flaticon.png" alt="Preview Image" class="img-thumbnail">
                </div>
                <button type="submit" class="btn btn-outline-dark px-5 m-2 submit-button">Create</button>
            </form>
        </div>
        
    </div>
</div>



