@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <div class="row">
        @foreach (var breed in Model.CatBreeds)
        {
            var imageBase64 = breed.ImageData != null
            ? "data:image/jpeg;base64," + Convert.ToBase64String(breed.ImageData)
            : Url.Content("~/photos/iconPhoto.png");
            <div class="up-card col-md-4 mb-4">
                <div class="card">
                    <img src="@imageBase64" class="card-img-top" alt="Breed Image">
                    <div class="card-body">
                        <h5 class="card-title">@breed.Name</h5>
                        <a asp-page="/BreedDetails" asp-route-id="@breed.Id" class="btn btn-outline-dark">Learn more</a>
                    </div>
                </div>
            </div>
        }
       
    </div>
</div>
