@page
@model UserModel
@{
	ViewData["Title"] = "Login/Register";
}

<div class="container-user">
    <div class="split-screen">
        <div class="left">
            <section class="signup">
                <h2>Register</h2>
                <form method="post">
                    <input type="text" name="fullName" placeholder="Full Name" required>
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <input type="password" name="confirmPassword" placeholder="Confirm Password" required>
                    <button type="submit" class="btn btn-outline-dark" asp-page-handler="Register">Register</button>
                </form>
            </section>
        </div>
        <div class="divider">
            <div class="or-box">OR</div>
        </div>
        <div class="right">
            <section class="login">
                <h2>Login</h2>
                <form method="post">
                    <input type="email" name="email" placeholder="Email" required>
                    <input type="password" name="password" placeholder="Password" required>
                    <button type="submit" class="btn btn-outline-dark" asp-page-handler="Login">Login</button>
                </form>
            </section>
        </div>
    </div>
</div>
