@page
@using System.Security.Claims
@model CatBreedCatalog.Pages.UserModel
@{
    ViewData["Title"] = "Login/Register";
}


@if (TempData["Message"] != null)
{
    <div id="tempDataMessage" data-type="@TempData["MessageType"]">@TempData["Message"]</div>
}
@if (User.Identity.IsAuthenticated)
{
    <div>
        <p>Jesteś zalogowany jako @User.Identity.Name</p>
        <p>Twoja rola: @User.FindFirst(ClaimTypes.Role)?.Value</p>
        <form method="post" asp-page-handler="Logout">
            <button type="submit" class="btn btn-outline-dark" id="buttonLogout">Logout</button>
        </form>
    </div>
}
else
{
    <div class="container-user">
        <div class="split-screen">
            <div class="left">
                <section class="signup">
                    <h2>Register</h2>
                    <form method="post" asp-page-handler="Register">
                        <input type="text" asp-for="FirstName" placeholder="First Name" required>
                        <input type="text" asp-for="LastName" placeholder="Last Name" required>
                        <input type="email" asp-for="Email" placeholder="Email" required>
                        <input type="password" asp-for="Password" placeholder="Password" required>
                        <input type="password" asp-for="ConfirmPassword" placeholder="Confirm Password" required>
                        <button type="submit" class="btn btn-outline-dark">Register</button>
                    </form>
                </section>
            </div>
            <div class="divider">
                <div class="or-box">OR</div>
            </div>
            <div class="right">
                <section class="login">
                    <h2>Login</h2>
                    <form method="post" asp-page-handler="Login">
                        <input type="email" asp-for="Email" placeholder="Email" required>
                        <input type="password" asp-for="Password" placeholder="Password" required>
                        <button type="submit" class="btn btn-outline-dark">Login</button>
                    </form>
                </section>
            </div>
        </div>
    </div>
}
